# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build / cache
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# Uploads temporários
uploads/

# Backups
backup/
*.sql
*.dump
*.bak
